[submodule "lib/libpredict-arduino-lib"]
	path = lib/libpredict-arduino-lib
	url = git@github.com:bostrt/libpredict-arduino-lib.git
[submodule "lib/SSD1306_minimal"]
	path = lib/SSD1306_minimal
	url = https://github.com/bostrt/SSD1306_minimal.git
	branch = just-wire-support
